<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> Budge | Coupons </title>
  <link href = "stylesheets/style.css"  type="text/css" rel="stylesheet">
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src='https://api.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.css' rel='stylesheet' />
  <script src="javascripts/map.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
</head>
<body>
<main>
    <header class = "header">
        <a href="/index">
            <img src = "images/Header.png" height = "100" width="200">
        </a>
        <h2 id = "subheader"> Smarter Budget Management </h2>
      <nav class = "navigation">
        <ul>
          <li>
            <a href="/index">
              Home
            </a>
          </li>
          <li>
            <a href="/coupons">
              Coupons
            </a>
          </li>
          <li>
            <a href="/settings">
              <img src = "images/settings%20.png" height="20" width="20">
            </a>
          </li>
        </ul>
      </nav>        
    </header>
  <section id = "coupon-view">
    <br><h3>Coupon Offers</h3></br>
    <table class = "coupon-offers">
      <tr>
        <th>Weekly Promotions</th>
      </tr>
      <tr>
        <td>
          <img src = "images/groceries.png" height = "20" width="20">
          Save 25% on groceries
        </td>
      </tr>
      <tr>
        <td>
          <img src = "images/travel.png" height = "20" width="20">
          Save 10% on transportation
        </td>
      </tr>
      <tr>
        <td>
          <img src = "images/soccer-ball.png" height = "20" width="20">
          Save 15% on sporting events
        </td>
      </tr>
      <tr>
        <td>
          <img src = "images/spotlights.png" height = "20" width="20">
          Save 40% on concert tickets
        </td>
      </tr>
      <tr>
        <td>
          <img src = "images/cart.png" height = "20" width="20">
          Save 25% on online shopping orders
        </td>
      </tr>
      <tr>
        <td>
          <img src = "images/game-boy.png" height = "20" width="20">
          Save 10% on electronics
        </td>
      </tr>
    </table>
  </section>
  <section id = "map-view">
    <br><h3> Map View </h3></br>
    <div id="map"></div>
    <script>
      initMap();
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkPf4UAnSh9Uo8-ZRC1dcjemY2eHPShWo&callback=initMap"async defer>
    </script>
    
  </section>
</main>
</body>
</html>
