<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> Budge | Home</title>
  <link href = "stylesheets/style.css"  type="text/css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Satisfy|Mali:500" rel="stylesheet">
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="javascripts/pie.js"></script>
  <script src="javascripts/dynamicEvents.js"></script>
  <script type="text/javascript" src="http://mbostock.github.com/d3/d3.js?2.1.3"></script>
  <script type="text/javascript" src="http://mbostock.github.com/d3/d3.geom.js?2.1.3"></script>
  <script type="text/javascript" src="http://mbostock.github.com/d3/d3.layout.js?2.1.3"></script>
  <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
</head>
<body>
  <main>
    <header class = "header">
      <a href="/index">
          <img src = "images/Header.png" height = "100" width="200">
      </a>
      <h2 id = "subheader"> Smarter Budget Management </h2>
      <nav class = "navigation">
        <ul>
          <li>
            <a href="/index">
              Home
            </a>
          </li>
          <li>
            <a href="/coupons">
              Coupons
            </a>
          </li>
          <li>
            <a href="/settings">
              <img src = "images/settings%20.png" height="20" width="20">
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <section id = "graph-view">
      <br><h3>Spending Breakdown</h3></br>     
      <!-- Chart here -->
      <div class="piechart">
          <script type="text/javascript" src="javascripts/pie.js"></script>
          <div class = "section-explanation">
            Blah blah
          </div>
      </div>
    </section>
    <section id = "data-view">
      <br><h3>Spending Tracker</h3><br>
      <table class = "transaction-details">
        <tr>
          <th colspan="2">Month</th>
        </tr>
        <tr>
          <td class = "utilities">
            <img src = "images/light-bulb.png" height = "20" width="20">
            Utilities
          </td>
          <td class="slide-container-row">
            <div class="slidecontainer">
              <input type="range" min="1" max="100" value="70" class="slider" id="myRange">
            </div>
          </td>
        </tr>
        <tr>
          <td class = "groceries">
            <img src = "images/groceries.png" height = "20" width="20">
            Groceries
          </td>
          <td class="slide-container-row">
            <div class="slidecontainer">
              <input type="range" min="1" max="100" value="55" class="slider" id="myRange">
            </div>
          </td>
        </tr>
        <tr>
          <td class = "transportation">
            <img src = "images/car.png" height = "20" width="20">
            Transportation
          </td>
          <td class="slide-container-row">
            <div class="slidecontainer">
              <input type="range" min="1" max="100" value="60" class="slider" id="myRange">
            </div>
          </td>
        </tr>
        <tr>
          <td class = "entertainment">
            <img src = "images/spotlights.png" height = "20" width="20">
            Entertainment
          </td>
          <td class="slide-container-row">
            <div class="slidecontainer">
              <input type="range" min="1" max="100" value="40" class="slider" id="myRange">
            </div>
          </td>
        </tr>
        <tr>
          <td class = "dining">
            <img src = "images/dinner-table.png" height = "20" width="20">
            Dining
          </td>
          <td class="slide-container-row">
            <div class="slidecontainer">
              <input type="range" min="1" max="100" value="30" class="slider" id="myRange">
            </div>
          </td>
        </tr>
        <tr>
          <td class = "rent">
            <img src = "images/house.png" height = "20" width="20">
            Rent
          </td>
          <td class="slide-container-row">
            <div class="slidecontainer">
              <input type="range" min="1" max="100" value="100" class="slider" id="myRange">
            </div>
          </td>
        </tr>
      </table><br>
    </section>
  </main>
</body>
</html>
