<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> Budge | Home</title>
  <link href = "stylesheets/style.css"  type="text/css" rel="stylesheet">
</head>
<body>
<main>
  <header class = "header">
    <img src = "images/Header.png" height = "100" width="200">
  </header>
  <section>
   <h1>Welcome</h1>
    <div>
      <form action="/index"></form>

        <label> Username: </label>
        <input id = "namefield" type = "text" ></p>

        <label> Password: </label>
        <input id = "passfield" type = "password"></p>

       <a href="/index">
         <button>Login</button>
       </a>
       <br>
       <a href="/register" style="color:black"><font size="2">Not already a member? Register here.</font></a>
    </div>
  </section>
</main>
</body>
</html>