<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> Budge | Register</title>
  <link  rel="stylesheet" href ="/stylesheets/bootstrap.css">
  <link href = "stylesheets/style.css"  type="text/css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
</head>
<body>
<main>
  <header class = "header">
      <img src = "images/Header.png" height = "100" width="200">
      <h2 id = "subheader"> Smarter Budget Management </h2>
  </header>  
  <section id = "registrationField">
    <h2>Sign Up, Become a Member Today!</h2>
    <div class = "center">

      <div class="col-lg-12">
      {{#if username_taken_msg}}
        <div class="alert alert-danger">{{username_taken_msg}}</div>
      {{/if}}

      {{#if errors}}
          {{#each errors}}
          	<div class="alert alert-danger">{{msg}}</div>
          {{/each}}
      {{/if}}
      </div>
      
      <form id="user_signup" method="POST" action = "/signup">
        <input id = "namefield" type = "text" placeholder=" Username" name="username"></p>

        <input id = "passfield" type = "password" placeholder=" Password" name="password"></p>

        <input id = "idfield" type = "text" placeholder=" Email Address" name="email"><br><br>

        <input id = "registerButton" type="submit" value="submit"/>
      </form>
    </div>
  </section>
</main>
</body>
</html>
