<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> Budge | Register</title>
  <link  rel="stylesheet" href ="/stylesheets/bootstrap.css">
  <link href = "stylesheets/style.css"  type="text/css" rel="stylesheet">
</head>
<body>
<main>
  <header class = "header">
       <a href="/index">
          <img src = "images/Header.png" height = "100" width="200" float="left">
      </a>
          <h2 id="sub"> Smarter Budget Management </h2>
        <nav class = "navigation">
          <ul>
            <li>
              <a href="/index">
                Home
              </a>
            </li>
            <li>
              <a href="/coupons">
                Coupons
              </a>
            </li>
            <li>
              <a href="/settings">
                <img src = "images/settings%20.png" height="20" width="20">
              </a>
            </li>
          </ul>
        </nav>
      </header>
  <section class="signpage">
    <h2>Sign Up, Become a Member Today!</h2>
    <div class = "center">

      <div class="col-lg-12">
      {{#if username_taken_msg}}
        <div class="alert alert-danger">{{username_taken_msg}}</div>
      {{/if}}

      {{#if errors}}
          {{#each errors}}
          	<div class="alert alert-danger">{{msg}}</div>
          {{/each}}
      {{/if}}
      </div>

      <form  id="user_signup" method="POST" action = "/signup">
        <input id = "namefield" type = "text" placeholder=" Username" name="username"></p>

        <input id = "passfield" type = "password" placeholder=" Password" name="password"></p>

        <input id = "idfield" type = "text" placeholder=" Email Address" name="email"><br><br>

        <input type="submit" value="submit"/>

        <!--<a href="/index">
            <button>
              Register
            </button>    
        </a>-->
      </form>
    </div>
  </section>
</main>
</body>
</html>
