<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> Budge | Settings </title>
  <link href = "stylesheets/style.css"  type="text/css" rel="stylesheet">
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src = "javascripts/userInteraction.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
</head>
<body>
<main>
    <header class = "header">
        <a href="/index">
            <img src = "images/Header.png" height = "100" width="200">
        </a>
        <h2 id = "subheader"> Smarter Budget Management </h2>
      <nav class = "navigation">
        <ul>
          <li>
            <a href="/index">
              Home
            </a>
          </li>
          <li>
            <a href="/coupons">
              Coupons
            </a>
          </li>
          <li>
            <a href="/settings">
              <img src = "images/settings%20.png" height="20" width="20">
            </a>
          </li>
        </ul>
      </nav>        
    </header>
  <section id="settings-options">
    <br><h3>Settings</h3></br>
    <table class="settings">
      <tr class = "setting">
        <td>
          <div class="dropdown">
            <button class="dropbtn">Adjust budget timeline...</button>
            <div class="dropdown-content">
              <a href="#">Daily</a>
              <a href="#">Weekly</a>
              <a href="#">Monthly</a>
            </div>
          </div>
        </td>
      </tr>
      <tr class = "setting">
        <td>
          <div class="dropdown">
            <button class="dropbtn">Adjust savings goals timeline...</button>
            <div class="dropdown-content">
              <a href="#">Daily</a>
              <a href="#">Weekly</a>
              <a href="#">Monthly</a>
            </div>
          </div>
        </td>
      </tr>
      <tr class = "setting">
        <td>
          <div class="dropdown">
            <button class="dropbtn">Sort...</button>
            <div class="dropdown-content">
              <a href="#">Alphabetically</a>
              <a href="#">Most recent</a>
              <a href="#">Ascending price</a>
              <a href="#">Descending price</a>
            </div>
          </div>
        </td>
      </tr>
      <tr class = "setting">
        <td>
          <form id = "Flyer-checkbox" method="get">
            <input type="checkbox" name="Flyer notification" value="True"> Flyer Notifications <br>
          </form>
        </td>
      </tr>
      <tr class = "setting">
        <td>
          <form id = "GPS-checkbox" method="get">
            <input type="checkbox" name="location" value="True"> GPS Location <br>
          </form>
        </td>
      </tr>
      <tr class = "setting">
        <td>
          <form id = "Promo-checkbox" method="get">
            <input type="checkbox" name="promos" value="True"> Suggest Promotions <br>
          </form>
        </td>
      </tr>
      <tr class = "setting">
        <td>
          <a href="/login">
          Log out
          </a>
        </td>
      </tr>
    </table><br>
  </section>
</main>
</body>
</html>